*{
    box-sizing: content-box;
}
::-webkit-scrollbar{
    width: 4px;
}

::-webkit-scrollbar-track-piece{
    width: 4px;
    background-color: black;
}
body{
    height: 100vh;
    overflow-x: hidden;
}
.display{
    height: 100vh;
}
.playlist{
    right: 0;
    top: 0;
    height: 100vh;
    width: auto;
    position: fixed;
}
.playlist > .box-content {
    color: black;
    height: 92vh;
    overflow-y: scroll;
}
.playlist > .box-content > ul {
    padding-bottom: 20px;
}
.playlist > .box-content > ul > li{
    cursor: pointer !important;
    position: relative;
}
.playlist > .box-content > ul > li > a {
    z-index: 1 !important;
}
.playlist > .box-content > ul > li > a::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: -100%;
    opacity: 0.5;
    background-color: #0b090a;
    z-index: -1 !important;
    -webkit-transition: all 0.5s cubic-bezier(.89,.13,.34,.91);
    -moz-transition: all 0.5s cubic-bezier(.89,.13,.34,.91) ;
    -ms-transition: all 0.5s cubic-bezier(.89,.13,.34,.91) ;
    -o-transition: all 0.5s cubic-bezier(.89,.13,.34,.91) ;
    transition: all 0.5s cubic-bezier(.89,.13,.34,.91) ;
}
.playlist > .box-content > ul > li:hover > a::before{
    left: 0;
}

.playlist::-webkit-scrollbar{
    float: left;
}
.playlist::-webkit-scrollbar-track{
    background-color: transparent;
}
.chat-box {
    z-index: 99;
    position: fixed;
    left: -100vw;
    margin: 0!important;
    height: 100vh;
    overflow: hidden;
}
.chat-now {
    position: fixed;
    left: 10px;
    top: 10px;
    font-size: 50px;
    cursor: pointer;
}
.chat-box > .chats > h1 > .icon{
    float: right;
    font-weight: 100;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s ;
    -ms-transition: all 0.5s ;
    -o-transition: all 0.5s ;
    transition: all 0.5s ;
}
.chat-box > .chats > h1 > .icon:hover{
    color: #00b3ee;
    cursor: pointer;
}
.chat-box > form {
    padding: 5px;
    margin: 0;
    position: absolute !important;
    bottom: 0px !important;
    width: 400px !important;
}
.chat-box > form > input{
    width: 360px;
}
.chat-box > .chats{
    left: 0;
    height: 90vh !important;
    padding-left: 10px;
    padding-right: 10px;
}
.chat-box > .chats > .timeline{
    height: 84vh;
    overflow-x: hidden;
    overflow-y: scroll;
}
.display{
    margin: 0!important;
    border: none !important;
}
@media (max-width: 767px) {
    .playlist{
        margin-left: 0 !important;
    }
}
